.idea
.git
.gitignore
.db
database/.db
node_modules
node_modules/*
dist
dist/*
README.md
.docker-compose.yml
Dockerfile
app/back/dist
app/back/node_modules
app/front/build
app/front/node_modules
app/front/README.md
DockerBuild.bat